body {
  background-image: url("images\\todo-img.jpg");
  background-size: 100vw 100vh;
}

.btn {
  background-color: rgba(0, 255, 255, 0.5);
}

.btn:hover {
  background-color: rgba(0, 255, 255, 0.75);
  color: black;
}

.btn:active {
  background-color: rgb(0, 255, 255) !important;
  color: black !important;
}
